.button {
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dark-green-color);
  background-color: transparent;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  color: var(--dark-green-color);
}

.button--icon {
  border: none;
  width: auto;
  padding: 0;
}

.button--icon svg {
  fill: none;
  stroke: currentColor;
}

.button--solid {
  background-color: var(--dark-green-color);
  color: var(--light-blue-green-color);
}

.button--underline {
  padding: 0;
  padding-bottom: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  width: auto;
}

.button--transparent {
  border: none;
  padding: 0;
}

.button--round {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 0;
  display: flex;
  background-color: var(--dark-green-color);
}

.button--round svg {
  margin: auto;
  fill: var(--white-color);
}
