.chat__info {
  box-sizing: border-box;
  border-bottom: 1px solid var(--chat-border-color);
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 5px;
}

.messages-by-date {
  display: grid;
  gap: 10px;
}

.messages-date {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: var(--label-color);
}

.messages {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;

  border-bottom: 1px solid var(--chat-border-color);
  gap: 10px;
  margin: 0;
  padding: 0;
}
