.chat-list__item {
  cursor: pointer;
  padding: 15px 10px;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto;
  background-color: rgba(148, 216, 220, 0.1);
  border-radius: 8px;
  align-items: center;
  gap: 5px;
}

.chat-list__item--active {
  background-color: var(--light-gray-color);
}
