.input {
  width: 100%;
  box-sizing: border-box;
}

.input__label {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #0f484b;
}

.input__control {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #225457;
  border-radius: 20px;
  padding: 14px 25px 14px 25px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
