.input {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.input__label {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  color: var(--label-color);
}

.input__control {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--dark-green-color);
  border-radius: 20px;
  padding: 14px 25px 14px 25px;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-color);
}

.input--oneline {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid var(--dark-green-color);
  align-items: center;
}

.input--oneline .input__control {
  border: none;
  border-radius: 0;
  width: auto;
  flex-grow: 1;
}

.input--oneline .input__label {
  margin: 0;
}

.input--search {
  border-radius: 12px;
  font-size: 14px;
  padding: 5px 20px;
  border: 1px solid var(--light-gray-color);
}
